@page
@model MTM.Pages.Classes.DeleteModel

@{
    ViewData["Title"] = "Class";
}

<h4>Xóa Thông Tin Lớp</h4>

<h5>Bạn muốn xóa thông tin Lớp này?</h5>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Class.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Class.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Class.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Class.City)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Class.ID" />
        <div class="form-group">
            <button type="submit" class="btn btn-danger mb-2"><i class="fa fa-trash">&nbsp;</i>&nbsp;Xóa</button>
        </div>
        <div>
            <a asp-page="./Index" class="fa fa-reply btn-outline-secondary">&nbsp;Quay Về</a>
        </div>
    </form>
</div>
