@page
@model MTM.Pages.Classes.DeleteModel

@{
    ViewData["Title"] = "Class";
}

<h3>Xóa Thông Tin Lớp</h3>

<h3>Bạn muốn xóa thông tin Lớp này?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Class.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Class.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Class.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Class.City)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Class.ID" />
        <div class="form-group">
            <button type="submit" class="btn btn-danger mb-2"><i class="fa fa-trash">&nbsp;</i>&nbsp;Xóa</button>
        </div>
        <a asp-page="./Index">Quay Về</a>
    </form>
</div>
