@page
@model MTM.Pages.Disciples.CreateModel

@{
    ViewData["Title"] = "Disciple";
}

<h4>Thêm mới Đồng Tu</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Disciple.Phone" class="control-label"></label>
                <input asp-for="Disciple.Phone" class="form-control" autofocus/>
                <span asp-validation-for="Disciple.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Disciple.FirstName" class="control-label"></label>
                <input asp-for="Disciple.FirstName" class="form-control" />
                <span asp-validation-for="Disciple.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Disciple.MiddleName" class="control-label"></label>
                <input asp-for="Disciple.MiddleName" class="form-control" />
                <span asp-validation-for="Disciple.MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Disciple.LastName" class="control-label"></label>
                <input asp-for="Disciple.LastName" class="form-control" />
                <span asp-validation-for="Disciple.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Disciple.Address" class="control-label"></label>
                <input asp-for="Disciple.Address" class="form-control" />
                <span asp-validation-for="Disciple.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Disciple.Gender" class="control-label"></label>
                <select asp-for="Disciple.Gender" class="form-control"
                        asp-items="@Model.GenderSL">
                    <option value="">-- Chọn giới tính --</option>
                </select>
                <span asp-validation-for="Disciple.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Disciple.DateOfBirth" class="control-label"></label>
                <input asp-for="Disciple.DateOfBirth" class="form-control" />
                <span asp-validation-for="Disciple.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Disciple.InitiateDate" class="control-label"></label>
                <input asp-for="Disciple.InitiateDate" class="form-control" />
                <span asp-validation-for="Disciple.InitiateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Disciple.Class" class="control-label"></label>
                <select asp-for="Disciple.ClassID" class="form-control"
                        asp-items="@Model.ClassNameSL">
                    <option value="">-- Chọn lớp --</option>
                </select>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary mb-2"><i class="fa fa-plus">&nbsp;</i>&nbsp;Thêm Mới</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index" class="fa fa-reply btn-outline-secondary">&nbsp;Quay Về</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
